APP_NAME=Monolith-Picture
APP_ENV=local
APP_KEY=base64:DMhs3n4JwGGHScoiRfWTAv/w1ucYaWTbjjEiCqJ4L3E=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=monolith_rbac
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=database

QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@monolith.local"
MAIL_FROM_NAME="${APP_NAME}"
