@import "bootstrap/dist/css/bootstrap.min.css";

/* CSS kamu di bawah */

body{
    margin:0;
    background:#f5f7fb;
    font-family:'Inter',sans-serif;
}

.wrapper{
    display:flex;
}

.sidebar{
    width:260px;
    min-height:100vh;
    background:#1f2937;
    color:white;
    padding:25px;
    position:fixed;
}

.logo{
    margin-bottom:40px;
}

.logo h3{
    font-size:24px;
}

.logo small{
    color:#9ca3af;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin-bottom:12px;
}

.sidebar a{
    display:flex;
    align-items:center;
    gap:12px;
    color:white;
    text-decoration:none;
    padding:14px 18px;
    border-radius:12px;
    transition:.3s;
}

.sidebar a:hover{
    background:#4f46e5;
}

.sidebar .active{
    background:#6366f1;
}

.logout{
    position:absolute;
    bottom:30px;
}

.main{
    margin-left:260px;
    width:100%;
}

.navbar-custom{
    padding:25px 35px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 3px 10px rgba(0,0,0,.05);
}

.content{
    padding:35px;
}

.storage-card{
    background:#eef2ff;
    padding:18px 24px;
    border-radius:18px;
    display:flex;
    gap:25px;
    align-items:center;
}

.session-card{
    border:none;
    border-radius:18px;
    overflow:hidden;
    margin-bottom:25px;
}

.session-card img{
    height:220px;
    object-fit:cover;
}
